.iframestyle {
  position: fixed;
  top: 4.8rem;
  bottom: 110px;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 85%;
}

@media (max-width: 1219px) {
  .iframestyle {
    top: 2.4rem;
  }
}