.iframestyle {
  position: fixed;
  top: 7.0rem;
  bottom: 0rem;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 90%;
}

@media (max-width: 1219px) {
  .iframestyle {
    top: 5.0rem;
    height: 95%;
  }
}
